<head>
    <link rel="stylesheet" href="styl.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="script.js"></script>
</head>  
<button onclick='clict()' id='open'>OPEN</button>
<br>
<div id='taybil'> 
  <img src='https://i.postimg.cc/tgYtLQyt/10S.png' id='tOne' class='flip'></img>
	<img src='https://i.postimg.cc/tgYtLQyt/10S.png' id='tTwo' class='flip'></img>
	<img src='https://i.postimg.cc/tgYtLQyt/10S.png' onclick='' id='tThree' class='flip'></img>
	<img src='https://i.postimg.cc/tgYtLQyt/10S.png' onclick='' id='tFour' class='flip'></img>
	<img src='https://i.postimg.cc/tgYtLQyt/10S.png' onclick='' id='tFive' class='flip'></img>
</div>
<button onclick='round()' id='next'>NEXT</button>
<div id='cards'>
    <img src='https://www.linkpicture.com/q/2C.png' onclick='' id='hOne' class='flip'></img>
    <img src='https://www.linkpicture.com/q/2C.png' onclick='' id='hTwo' class='flip'></img>
  </div>


  





