@font-face {
  font-family: myFont;
  src: url(shicAagow.ttf);
}

body {
  background-color: rgb(24, 109, 61);
}

#taybil {
  margin-left: 11%;
  margin-top: 2%;
  margin-bottom: 4%;
}

button {
  background-color: darkgreen;
  color: white;
  margin-left: 47.8%;
  font-family: myFont;
  padding: 0;
  border: none;
  background: none;
  font-size: 20pt;
  margin-top: 2%;
  margin-bottom: 2%;
}

#tTwo {
  margin-left: 5%;
}

#tThree {
  margin-left: 5%;
}

#tFour {
  margin-left: 5%;
}

#tFive {
  margin-left: 5%;
}

#cards {
  margin-top: 3%;
  margin-left: 36%;
}

#hTwo {
  margin-left: 7%;
}

.flip{
  font-size:30px;
  font-weight:bold;
  cursor:pointer;
  perspective:1000px;
}

.flip:hover{
  animation: flip .8s linear; 
}

@keyframes flip{
   from{
    transform: rotateY(180deg);
  }
   to{
     transform: rotateY(360deg);
}
}
